TOKEN=yourdiscordbottoken
SERVERID=yourtestserverid
DBPATH=db/data/
CONFIGDBPATH=db/config.db
STOREDBPATH=db/store/
REACTIONROLESDBPATH=db/reactionroles/
ONETOKENAMOUNT=10
MESSAGESREQUIREDTOLEVELUP=25